<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="hello.css" class="rel">

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
             
</head>
<body>
    <div class="message ">
        Sorry, your browser does not support CSS Grid. 😅
      </div>
      <section class="section">
        <h1>Nom Nom Gallery</h1>
        <div class="grid">
          <div class="item">
            <div class="item__details responsive-img materialboxed">
             
            </div>
          </div>
          <div class="item item--large">
            <div class="item__details  responsive-img">
          
            </div>
          </div>
          <div class="item item--medium">
            <div class="item__details  responsive-img">
            
            </div>
          </div>
          <div class="item item--large">
            <div class="item__details">
              
            </div>
          </div>
          <div class="item item--full">
            <div class="item__details">
             
            </div>
          </div>
          <div class="item item--medium">
            <div class="item__details">
           
            </div>
        0  </div>
          <div class="item item--large">
            <div class="item__details">
             
            </div>
          </div>
          <div class="item">
            <div class="item__details">
          
            </div>
          </div>
          <div class="item item--medium">
            <div class="item__details">
        
            </div>
          </div>
          <div class="item item--large">
            <div class="item__details">
              
            </div>
          </div>
          <div class="item">
            <div class="item__details">
             
            </div>
          </div>
          <div class="item item--medium">
            <div class="item__details">
            
            </div>
          </div>
          <div class="item item--medium">
            <div class="item__details">
              
            </div>
          </div>
          <div class="item item--large">
            <div class="item__details">
             
            </div>
          </div>
          <div class="item">
            <div class="item__details">
             
            </div>
          </div>
        </div>
      </div>
      <script >M.AutoInit()</script>
</body>
</html>