
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

h1 {
    color: yellow;
    text-shadow: 2px 2px 5px red;
    font-family: 'Patrick Hand', cursive;
}
#afterMovieButton {
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(168, 3, 3);
    background-color:blue;
    border: none;
    border-radius: 10px;
    font-family: 'Patrick Hand', cursive;
}
p{
    color:rgb(158, 15, 15);
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}


#alooooo {
    width: 80vh;
}