.page {
	min-height: 100vh;
}

/* .container {
	padding: 0px;
} */

#3
{
	background: transparent;
}

/* #fixed-bg {
	
	background: url('https://i.ytimg.com/vi/hF_LjTUvP-U/maxresdefault.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: fixed;
} */

/* body {
	background: url('https://i.ytimg.com/vi/hF_LjTUvP-U/maxresdefault.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
} */

/* #content {
	position: relative;
}
#content .section {
	/* height: 500px; 
	width: 100%;
	background: rgba(255,255,255, 0.5);
	opacity: 0;
} */