/* img {
    margin: 5px;
} */

#images {
    background: transparent;
    padding: 10px;
    margin: 0px;
    margin-top: 0px;
}

#images > h1 {
    color: blue;
    text-shadow: none;
}

#memoriesHeader {
    color: blue;
    text-shadow: none;
    
}