.HomePage{
  height:auto;
  max-width: 1500px;
  background-color:cornsilk;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x:hidden;
}
.gallery_back{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100%;
}
.gallery_back > img{
  display:block;
  width:100%;
  height:100%;
  object-fit: cover;
}
.App-nav-active{
  overflow:hidden;
}
.Register_button{
  position:fixed;
  z-index:1000;
  color:white;
  height:50px;
  width:50px;
  padding:5px;
  background-color:#903;
  right:10px;
  top:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size:14px;
  font-weight: 100;
  box-shadow:0 5px 10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition:all 0.2s;
}
.Register_button > svg{
  width:80%;
  height:80%;
  fill:cornsilk;
}
.Register_button:hover{
  transform:translateY(-2px);
  box-shadow:0 8px 10px rgba(0,0,0,0.3);
}
