.back{
  left: 2%;
  top:2%;
  position: fixed;
  background-color: #ef2270;
}
.team_confluence{
  width:100%;
  display:flex;
  flex-direction:column;
  padding:0;
  margin:0;
  align-items: center;
  
 /* max-width:1500px;*/
}
.team_heading{
  width:100%;
  text-align: center;
  background-color:#1c1b30;;
  margin:0;
  font-size:100px;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: bold;
  color:white;
  
}

.team_wrapper{
  width:100%;
  background-color:white;
  padding:30px 20px;
}
.person_card{
  margin:0 !important;
  padding:0 !important;
  height:270px;
  background-color:white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border:2px solid cornsilk;
  border-radius: 5px;
}
.back_plate{
  flex:0 0 100px;
  background-color:#21132C;
  position: relative;
}
.person_img{
  width:135px;
  height:135px;
  object-fit: cover;
  border-radius: 50%;
  overflow:hidden;
  border:3px solid white;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom:-50px;
}
.person_img > img{
  width:100%;
  height:100%;
  display:block;
}
.person_info{
  
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.person_name{
  margin-top:60px;
  font-size:25px;
  font-weight: 100;
}
.person_contact{
  margin-top:1px;
  font-size:15px;
  font-weight: 100;
  color:grey;
}
.person_social{
  display:flex;
  flex:0 0 35px;
}
.person_btn{
  flex:0 0 50%;
  border:0;
  outline:0;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:12px;
  font-weight: 100;
  color:white;
  transition:all 0.2s;
}
.person_btn:hover{
  opacity: 0.8;
}
.person_facebook{
  background-color:#3b5898da;
}
.person_gmail{
  background-color:rgba(212, 69, 56, 0.829);
}

@media only screen and (max-width:1000px){
  .team_wrapper{
    width:700px;
  }
  .team_heading{
    font-size:70px;
  }
}
@media only screen and (max-width:710px){
  .team_wrapper{
    width:500px;
  }
  .team_heading{
    font-size:50px;
  }
}
@media only screen and (max-width:510px){
  .team_wrapper{
    width:100vw;
    padding-left:2px;
    padding-right:2px;
  }
  .team_heading{
    font-size:40px;
  }
}
@media only screen and (max-width:400px){
  .person_card{
    height:250px;
    
  }
  .person_name{
    font-size:18px;
    margin-top:55px;
  }
  .person_contact{
    font-size:12px;
  }
}